$bleupieddepage:#132F3D;
$bleuinformationsecondaires: #0F2835;
$couleurtextefooter: #FFFFFF;

//COULEURS
//Couleurs de fond du footer
.piedDePage{
  background-color: $bleupieddepage; 
  
}

.informations__secondaires{
  background-color: $bleuinformationsecondaires;
}

// Couleurs des textes du footer
p,
a,
h3,
.piedDePage__copyRights{
  color: $couleurtextefooter;
}


//LIENS ET TEXTE
// Enlever les décorations
footer.piedDePage a {
  text-decoration: none;
}
footer.piedDePage > nav > ul > li > a {
  text-decoration: underline; 
  
}

//Grosseur du texte + font-family
footer.piedDePage {
font-family:"Urbanist", sans-serif;
}

footer.piedDePage > nav > ul > li > a {
  font-size: 20px;
  font-weight: 600;  
}

footer.piedDePage ul > li{
line-height: 35px;
}

.piedDePage__copyRights{
  font-size: 10px;
}

//effet hover
.medias .logo__reseaux a svg path:hover {
  fill: #EE82A2;
} 




//POSITIONNEMENT MENU NAV
footer.piedDePage {
  text-align: center; 
  padding: 20px;
}

footer.piedDePage ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer.piedDePage ul > li:last-child {
  padding-bottom: 20px;
}

footer.piedDePage nav ul {
  display: block;
}

//MISE EN PLACE INFORMATIONS SECONDAIRES
.medias > h3{
  padding-top: 15px;
}
.informations__secondaires{
  border-radius: 30px;
  padding: 10px;
  text-align: center; 
  display: block; 
}
// Coordonnées
address > p{
  font-style: normal;
}

// Médias
.sociaux {
  height: 45px;
  width: 45px;
  margin: 5px;
}


// Logo pied de page
.Festival__OFF_LogoFooter {
  width: 229px;
  height: auto;
  border-top: 1px solid $couleurtextefooter;

}

// Demi cercle rectangle
.piedDePage {
  background-color: $bleupieddepage; 
  position: relative;
  padding-top: 100px; 
}

.piedDePage::before {
  content: "";
  position: absolute;
  top: -55px; 
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: $bleupieddepage;
  border-top-left-radius: 50% 100px;
  border-top-right-radius: 50% 100px;
}


//VERSION TABLE
//Menu version table
@media (min-width: 601px) {
  footer.piedDePage nav ul {
    display: flex;
    justify-content: center;
  }
  
  footer.piedDePage nav ul > li {
    margin: 0 20px; 
  }

  footer.piedDePage ul > li ul {
    display: flex;
    flex-direction: column; 
  }
 
  footer.piedDePage ul > li ul > li {
    padding: 5px 0; 
}

.informations__secondaires {
  display: flex; 
  justify-content: space-between; 
}

.nos__coordonnees {
  width: 45%; 
}

.nous__rejoindre {
  width: 45%; 
}
}

//Pour régler la distance au format table des deux div
@media (min-width: 800px) {
.nos__coordonnees {
  padding-left: 20%;
}

.nous__rejoindre {
  padding-right: 20%;
}
}